<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h2>Employees List</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee[0] }}</td>
            <td>{{ employee[1] }}</td>
            <td>{{ employee[2] }}</td>
            <td>{{ employee[3] }}</td>
            <td>
                <a href="{{ url_for('update_employee', id=employee[0]) }}">Edit</a> |
                <a href="{{ url_for('delete_employee', id=employee[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST" action="/">
        <button class="button2" type="submit">BACK</button>
    </form>
</body>
</html>
